<footer class="footer mt-5 pt-4">
  <div class="container">
    <div class="row row-grid align-items-center mb-2 mt-2">
      <div class="col-lg-6">
        <h5 class="mb-0 font-weight-light"><b></b></h5>
      </div>
      <div class="col-lg-6 text-lg-right">



        <button onclick="location.href='https://twitter.com/davexmachina';" rel="nofollow"
          class="btn btn-twitter" data-toggle="tooltip" data-original-title="Twitter">
       
            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
       
        </button>

        <button onclick="location.href='https://twitch.com/davexmachinatv';" rel="nofollow"
          class="btn btn-twitch" data-toggle="tooltip" data-original-title="Twitch">

            <i class="fa-brands fa-twitch" aria-hidden="true"></i>
   
        </button>


        <button onclick="location.href='https://youtube.com/@davexmachina';" rel="nofollow"
          class="btn btn-youtube" data-toggle="tooltip" data-original-title="YouTube">
      
            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                
        </button>






      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          <span> © {{ site.time | date: '%Y' }} davexmachina</span>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">



          <li class="nav-item">
            <a href="/discord" class="nav-link">
              <span class="nav-link-inner--text">Discord</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/contact" class="nav-link">
              <span class="nav-link-inner--text">Contact</span>
            </a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</footer>